/.venv
*.pyc
/audio_data
/log
/models
/configs
/ui/ui_config
/ui/ui_pic
/database
test.py
ui/readme.md
/.claude
/.serena
/doc
.vscode/*
.idea/
requirements.txt
.cursor/
build/
*.spec
.agents/
.codex
.worktrees/
docs/
ui/ui_src/icon
build_onedir.py
unit_test/ui/test_custom_double_spin_box.py

dist
create_hardware_tables.exe
