/.venv
*.pyc
/audio_data
/log
/models
/configs
/ui/ui_config
/ui/ui_pic
/database
test.py
ui/readme.md
/.claude
/.serena
/doc
.vscode/*
.idea/
requirements.txt
temp_program.py
.cursor/
build/
main_window_Launcher.spec
.agents/
.codex
.worktrees/
docs/
