PyQt5==5.15.11
getmac==0.9.5
librosa==0.10.2.post1
numpy==1.26.4
pyqtgraph==0.12.4
sounddevice==0.5.1
scipy==1.14.1
matplotlib==3.9.2
scikit-learn==1.5.2
PyYAML==6.0.2
soundfile==0.12.1
pywinusb==0.4.2
joblib==1.4.2
concurrent_log_handler==0.9.27
keyboard==0.13.5
openpyxl==3.1.5
opencv-python-headless==4.11.0.86
av==16.1.0
