PyQt5==5.15.11
getmac==0.9.5
librosa==0.10.2.post1
numpy==1.26.4
pyqtgraph==0.12.4
sounddevice==0.5.1
scipy==1.14.1
matplotlib==3.9.2
scikit-learn==1.5.2
PyYAML==6.0.2
soundfile==0.12.1
tensorflow==2.17.0
keras==3.5.0
pywinusb==0.4.2
joblib==1.4.2
concurrent-log-handler==0.9.25